@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css?family=Anton');
  .App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

.App-header + .content {
  padding-top: 50px;
}

.App-header .fa-shopping-cart {
  margin-right: 20px;
  opacity: .8;
}

.App-header .fa-shopping-cart:hover {
  cursor: pointer;
  opacity: 1;
}


  h4{
    text-align:center;
  }
  .rainbow {
    cursor: pointer;
    flex: auto;
    margin-left: 200px;
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   font-size:40px;
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
   20%{color: red;}
   30%{color: CadetBlue;}
   40%{color: yellow;}
   50%{color: coral;}
   60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
   100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
   20%{color: red;}
   30%{color: CadetBlue;}
   40%{color: yellow;}
   50%{color: coral;}
   60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
   100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
   20%{color: red;}
   30%{color: CadetBlue;}
   40%{color: yellow;}
   50%{color: coral;}
   60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
   100%{color: orange;}
 }
 